.header {
  background-image: linear-gradient(
      to right,
      rgb(0 0 0 / 0.8),
      rgb(0 0 0 / 0.7)
    ),
    url(../public/img/header.jpg);
  background-size: cover;
  background-position: 50%;
  padding: 5rem 0;
  position: relative;
}
.bar {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .bar {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (min-width: 768px) {
  .navigation {
    margin-top: 0;
  }
}

.navigation {
  margin-top: 5rem;
  display: flex;
  gap: 2rem;
  position: relative;
  z-index: 999;
}
.navigation a {
  color: var(--blanco);
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 1rem;
  transition: background-color 0.3s;
}
.navigation a:hover {
  background-color: var(--primary);
}

.model {
  color: var(--blanco);
  margin-top: 5rem;
  text-align: center;
}
@media (min-width: 768px) {
  .model {
    text-align: left;
    width: 50%;
  }
}
.model h2 {
  font-size: 8rem;
}
.model p:first-of-type {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  font-size: 2.2rem;
}
.price {
  color: var(--primary);
  font-size: 6rem;
  font-weight: 900;
  line-height: 0;
}
.link {
  margin-top: 2rem;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-size: 2.8rem;
  font-weight: 900;
  color: var(--blanco);
  border: 2px solid var(--primary);
  padding: 1rem 5rem;
  transition: background-color 0.3s ease-in-out;
}
.link:hover {
  background-color: var(--primary);
  color: var(--negro);
}
.productImg {
  display: none;
}
@media (min-width: 998px) {
  .productImg {
    display: block;
    position: absolute;
    bottom: -0.7rem;
    right: 0;
    animation-name: showProductImage;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-delay: 0s;
    animation-timing-function: ease-in-out;
  }
}

@keyframes showProductImage {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    transform: translateX(0rem);
  }
}
